<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/waiters.css">
</head>

<body>
    <div class="container">
        <h1>Admin Page</h1><br>
        <div class="weekdays">
            <table border="1" style="border-collapse: collapse;">
                <tr>
                {{#each days}}
                    <th class="{{color}}">{{weekdays}}</th>
                {{/each}}
                </tr>
                <tr>
                    {{#each days}}
                        <td>
                        {{#each users}}
                        <li style="list-style-type: none;">{{this}}</li>
                        {{/each}}
                        </td>
                    {{/each}}
                </tr>
            </table>
        </div><br>
        <form action="/clearingUser" method="post">
           <label for="waiters">Available Waiters</label>
           <select name="waiters">
                {{#each users}}
                <option value="{{id}}">{{username}}</option>
                {{/each}}
            </select>
            <button type="submit">Clear Waiter</button>
        </form>
    </div>
</body>

</html>