<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/waiters.css">
</head>

<body>
    <div class="container">
        <h1>Admin Page</h1><br>
        <div class="weekdays">
            <table border="1" style="border-collapse: collapse;">
                <tr >
                {{#each days}}
                    <th >{{weekdays}}</th>
                {{/each}}
                </tr>
                <tr >
                    {{#each days}}
                        <td class="{{color}}">
                        {{#each users}}
                        <li style="list-style-type: none;">{{this}}</li>
                        {{/each}}
                        </td>
                    {{/each}}
                </tr>
            </table>
        </div><br>
        <div class="adminContainer">
            <div>
            <label for="waiters"><strong>Available Waiters:</strong></label>
            <form action="/clearingUser" method="post">
                <div>
                    <select name="id">
                            {{#each users}}
                                <option  value="{{id}}">{{username}}</option>
                            {{/each}}
                    </select>
                </div>
                <button class="clearWaiter" type="submit">Clear Waiter</button>
                <button><a href="/adminLogin" style="text-decoration: none;">Sign Out</a></button>
            </form> 
            </div>
        </div>
    </div>
</body>

</html>