<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/waiters.css">
    <title>Days Selection</title>
</head>
<body>
    <h1>Days Selection</h1><br>
    <p>Thank you for signing in <strong>{{names}}</strong><br> Please Select the Days that you would like to be available.</p>
    <form action="/waiters/{{names}}" method="post">
        <div class="days">
            <div class="cat action">
                    {{#each weekdays}}
                <label>
                    <input type="checkbox" {{checked}} name="days" value="{{id}}"><span>{{weekdays}}</span>
                </label>
                {{/each}}
            </div>
        </div>
        <div class="btn">
            <button type="submit">Submit</button>
            <button><a href="/" style="text-decoration: none;">Sign Out</a></button>
        </div>
    </form>
</body>
</html>